@font-face {
  font-family: 'Game';
  src: url('/fonts/Game-font.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#1A202C] text-white;
}

/* Add any additional custom styles here */